{
    "Frames": {
        "TPOS": {"Information": "{{.volume}}"},
        "TRCK": {"Information": "{{.fable}}/{{.special.total}}"},
        "TCOM": {"Information": "LibriVox Volunteers"},
        "TCON": {"Information": "Audiobook"},
        "TPE1": {"Information": "Aesop"},
        "TIT1": {"Information": "Aesop's Fables"},
        "TALB": {"Information": "Aesop's Fables, Volume 1"}
    }
}